<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <link rel="shortcut icon" href="/assets/passfav.png">
  <title>Passport Challenge</title>
</head>
<body>
<div id="modal"></div>
<div class="headerSandbag"></div>
<header class="header">
  <div class="headerContainer">
    <div class="headerLogo">
      <a href="https://www.passportinc.com">
        <svg fill="#fff" viewBox="0 0 185 39">
          <title>Passport</title>
          <path
            d="M27.14,6V22.46a.45.45,0,0,1-.45.45H16.33a.45.45,0,0,1-.45-.45V.83a.45.45,0,0,1,.45-.45h5.18A5.63,5.63,0,0,1,27.14,6"></path>
          <path
            d="M10.81,11.64H.44A.44.44,0,0,1,0,11.2V.83A.45.45,0,0,1,.44.38H10.81a.45.45,0,0,1,.44.45V11.2a.44.44,0,0,1-.44.44"></path>
          <path
            d="M0,33.18V16.73a.45.45,0,0,1,.45-.45H10.81a.45.45,0,0,1,.44.45V38.36a.45.45,0,0,1-.44.45H5.62A5.63,5.63,0,0,1,0,33.18"></path>
          <path d="M27.13,33.18a5.63,5.63,0,1,1-5.62-5.63,5.62,5.62,0,0,1,5.62,5.63" fill="#ff5757"></path>
          <path
            d="M52.49,20.7H48.61V11.54h3.88c2.91,0,4,2.27,4,4.6s-1.13,4.56-4,4.56m.58-13.44H43.88a.26.26,0,0,0-.27.26V29.45A2.51,2.51,0,0,0,46.12,32h2.49V25h4.63c5.07,0,8.4-4,8.4-8.82s-3.33-8.88-8.57-8.88"></path>
          <path
            d="M75.33,26.91a7.91,7.91,0,0,1-4.11,1.31c-1.51,0-2.6-.75-2.6-2.34,0-1.4,1-2.19,3.08-2.19h3.63ZM72.62,12.75a38.33,38.33,0,0,0-7.09.74.27.27,0,0,0-.21.26v3.51a.26.26,0,0,0,.32.25,31.61,31.61,0,0,1,5.78-.78c3,.07,3.91,1,3.91,2.54V20.5H70.91c-4.59,0-7.16,2.23-7.16,5.76,0,4,2.6,6,5.86,6a10.47,10.47,0,0,0,6-2.23h.14A2.37,2.37,0,0,0,78,32h1.9a.26.26,0,0,0,.26-.26V19.57C80.2,15,77.32,12.75,72.62,12.75Z"></path>
          <path
            d="M91.92,20.43c-2-.34-3.53-.65-3.53-1.88s1.07-1.69,3.6-1.69a31.72,31.72,0,0,1,4.65.47.26.26,0,0,0,.3-.25l.15-3.62a.27.27,0,0,0-.22-.28,34.51,34.51,0,0,0-5.43-.43c-4.73,0-8,1.57-8,6.07,0,4.08,3.12,5,5.72,5.52,2.2.38,4,.65,4,2s-1,2-3.29,2a47.07,47.07,0,0,1-6-.58.27.27,0,0,0-.3.27v3.75a.26.26,0,0,0,.23.26,57.89,57.89,0,0,0,6.28.38c5.18,0,8-2,8-6.28,0-4.42-3.33-5.14-6.18-5.66"></path>
          <path
            d="M109.13,20.43c-2-.34-3.53-.65-3.53-1.88s1.06-1.69,3.6-1.69a31.59,31.59,0,0,1,4.64.47.27.27,0,0,0,.31-.25l.15-3.62a.28.28,0,0,0-.22-.28,34.51,34.51,0,0,0-5.43-.43c-4.73,0-8,1.57-8,6.07,0,4.08,3.12,5,5.73,5.52,2.19.38,4,.65,4,2s-1,2-3.29,2a47.41,47.41,0,0,1-6-.58.27.27,0,0,0-.3.27v3.75A.27.27,0,0,0,101,32a58,58,0,0,0,6.28.38c5.18,0,8-2,8-6.28,0-4.42-3.33-5.14-6.17-5.66"></path>
          <path
            d="M126,28.29a12.19,12.19,0,0,1-3.15-.45V18.75A8.13,8.13,0,0,1,127.17,17c2,0,3.39,1.52,3.39,5.29,0,4-1.47,6-4.6,6m2.78-15.51A10.07,10.07,0,0,0,122.81,15,1.85,1.85,0,0,0,121,13.16h-2.72a.26.26,0,0,0-.26.26V36.26a2.5,2.5,0,0,0,2.5,2.5h2.06a.27.27,0,0,0,.27-.26V31.79a17,17,0,0,0,3.8.48c5,0,8.88-2.82,8.88-10.23,0-6.48-3.15-9.26-6.75-9.26"></path>
          <path
            d="M148,28.24c-3.25,0-4.63-2.06-4.63-5.7s1.38-5.66,4.63-5.66,4.6,2.06,4.6,5.66-1.34,5.7-4.6,5.7m0-15.51c-5.35,0-9.53,3-9.53,9.81s4.18,9.81,9.53,9.81,9.56-3.05,9.56-9.81-4.18-9.81-9.56-9.81"></path>
          <path
            d="M165.13,16.19V15a1.85,1.85,0,0,0-1.85-1.85H160.8a.26.26,0,0,0-.26.26v16a2.5,2.5,0,0,0,2.5,2.51h2.06a.27.27,0,0,0,.27-.26V20.11a30.38,30.38,0,0,1,6.46-2.06.26.26,0,0,0,.22-.26V13.32a.27.27,0,0,0-.28-.27c-2.74.21-4.75,1.91-6.64,3.14"></path>
          <path
            d="M175.16,27.79c0,3.74,2.22,4.53,4.66,4.53a28.16,28.16,0,0,0,4.86-.51.26.26,0,0,0,.21-.26V28a.27.27,0,0,0-.33-.26,9.63,9.63,0,0,1-2.24.33c-1.24,0-2.33-.44-2.33-2V17.26h4.67a.26.26,0,0,0,.26-.27V13.4a.26.26,0,0,0-.26-.26H180V10.81A1.85,1.85,0,0,0,178.1,9h-2.69a.27.27,0,0,0-.26.27Z"></path>
        </svg>
        </a>
    </div>
  </div>
</header>
<div class="bodyContainer">
  <div id="app" class='content'></div>
  <div class="column"><img src="/assets/amazon.png" width="150px"/></div>
  <div class="column left"><img src="/assets/ad1.png" width="150px"/></div>
</div>
<div class="footer">
    <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 39" style="
    width: 27px;"><title>Passport</title><path d="M27,5.75V22.54a.45.45,0,0,1-.44.46H16.44a.45.45,0,0,1-.44-.46V.46A.45.45,0,0,1,16.44,0H21.5A5.62,5.62,0,0,1,27,5.75" fill="#1f2042" id="shape-1"></path><path d="M10.57,11H.43A.43.43,0,0,1,0,10.57V.43A.43.43,0,0,1,.43,0H10.57A.43.43,0,0,1,11,.43V10.57a.43.43,0,0,1-.43.43" fill="#1f2042" id="shape-2"></path><path d="M0,33.25V16.46A.45.45,0,0,1,.44,16H10.56a.45.45,0,0,1,.44.46V38.54a.45.45,0,0,1-.44.46H5.5A5.62,5.62,0,0,1,0,33.25" fill="#1f2042" id="shape-3"></path><path d="M27,32.5A5.5,5.5,0,1,1,21.5,27,5.5,5.5,0,0,1,27,32.5" fill="#ff5757" id="shape-4"></path></svg></div>
  <p>Passport Labs, Inc. 128 S. Tryon St #2200 Charlotte, NC 28202 </p>
  </div>
</body>
</html>
